# coding: utf-8

"""
    BillForward REST API


    OpenAPI spec version: 1.0.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
"""

from __future__ import absolute_import

import sys
import os
import re

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class SearchApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def perform_search(self, query_string, **kwargs):
        """
        Returns the results of the global search specified by the query-string.
        {\"nickname\":\"Search an organizations data\",\"response\":\"getSearchByID.html\"}

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.perform_search(query_string, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str query_string: The query string used to search. (required)
        :param list[str] organizations: A list of organization-IDs used to restrict the scope of API calls.
        :param list[str] types: A list of entities which will be checked when searching
        :param int offset: The starting index of the search results.
        :param int records: The number of search results to return.
        :param bool wildcard: Toggle if we search for full words or whether a wildcard is used.
        :param bool entity: Is an entity returned with the search results.
        :return: SearchResultPagedMetadata
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.perform_search_with_http_info(query_string, **kwargs)
        else:
            (data) = self.perform_search_with_http_info(query_string, **kwargs)
            return data

    def perform_search_with_http_info(self, query_string, **kwargs):
        """
        Returns the results of the global search specified by the query-string.
        {\"nickname\":\"Search an organizations data\",\"response\":\"getSearchByID.html\"}

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.perform_search_with_http_info(query_string, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str query_string: The query string used to search. (required)
        :param list[str] organizations: A list of organization-IDs used to restrict the scope of API calls.
        :param list[str] types: A list of entities which will be checked when searching
        :param int offset: The starting index of the search results.
        :param int records: The number of search results to return.
        :param bool wildcard: Toggle if we search for full words or whether a wildcard is used.
        :param bool entity: Is an entity returned with the search results.
        :return: SearchResultPagedMetadata
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['query_string', 'organizations', 'types', 'offset', 'records', 'wildcard', 'entity']
        all_params.append('callback')
        all_params.append('_return_http_data_only')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method perform_search" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'query_string' is set
        if ('query_string' not in params) or (params['query_string'] is None):
            raise ValueError("Missing the required parameter `query_string` when calling `perform_search`")

        resource_path = '/search/{query-string}'.replace('{format}', 'json')
        path_params = {}
        if 'query_string' in params:
            path_params['query-string'] = params['query_string']

        query_params = {}
        if 'organizations' in params:
            query_params['organizations'] = params['organizations']
        if 'types' in params:
            query_params['types'] = params['types']
        if 'offset' in params:
            query_params['offset'] = params['offset']
        if 'records' in params:
            query_params['records'] = params['records']
        if 'wildcard' in params:
            query_params['wildcard'] = params['wildcard']
        if 'entity' in params:
            query_params['entity'] = params['entity']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['text/plain'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='SearchResultPagedMetadata',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'),
                                            _return_http_data_only=params.get('_return_http_data_only'))
