# coding: utf-8

"""
    Billforward API

    This is documentation for the Billforward API. You can find out more at billforward.io.  # noqa: E501

    OpenAPI spec version: 1.0
    Contact: team@billforward.net
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from billforward.api_client import ApiClient


class ContractsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def add_contract_period(self, contract, **kwargs):  # noqa: E501
        """add_contract_period  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.add_contract_period(contract, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str contract: (required)
        :param AddContractPeriodRequest body:
        :return: InlineResponseDefault19
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.add_contract_period_with_http_info(contract, **kwargs)  # noqa: E501
        else:
            (data) = self.add_contract_period_with_http_info(contract, **kwargs)  # noqa: E501
            return data

    def add_contract_period_with_http_info(self, contract, **kwargs):  # noqa: E501
        """add_contract_period  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.add_contract_period_with_http_info(contract, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str contract: (required)
        :param AddContractPeriodRequest body:
        :return: InlineResponseDefault19
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['contract', 'body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_contract_period" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'contract' is set
        if ('contract' not in params or
                params['contract'] is None):
            raise ValueError("Missing the required parameter `contract` when calling `add_contract_period`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'contract' in params:
            path_params['contract'] = params['contract']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/contracts/{contract}/period', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponseDefault19',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_contract(self, **kwargs):  # noqa: E501
        """create_contract  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_contract(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateContractRequest body:
        :return: InlineResponseDefault19
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_contract_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.create_contract_with_http_info(**kwargs)  # noqa: E501
            return data

    def create_contract_with_http_info(self, **kwargs):  # noqa: E501
        """create_contract  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_contract_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateContractRequest body:
        :return: InlineResponseDefault19
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_contract" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/contracts', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponseDefault19',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_all_contracts(self, **kwargs):  # noqa: E501
        """get_all_contracts  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_all_contracts(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[str] state:
        :param list[str] account_id:
        :param list[str] subscription_id:
        :param list[str] organizations:
        :param int offset:
        :param int records:
        :param str order_by:
        :param str order:
        :return: InlineResponseDefault20
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_all_contracts_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_all_contracts_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_all_contracts_with_http_info(self, **kwargs):  # noqa: E501
        """get_all_contracts  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_all_contracts_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[str] state:
        :param list[str] account_id:
        :param list[str] subscription_id:
        :param list[str] organizations:
        :param int offset:
        :param int records:
        :param str order_by:
        :param str order:
        :return: InlineResponseDefault20
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['state', 'account_id', 'subscription_id', 'organizations', 'offset', 'records', 'order_by', 'order']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_all_contracts" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'state' in params:
            query_params.append(('state[]', params['state']))  # noqa: E501
            collection_formats['state[]'] = 'multi'  # noqa: E501
        if 'account_id' in params:
            query_params.append(('account_id[]', params['account_id']))  # noqa: E501
            collection_formats['account_id[]'] = 'multi'  # noqa: E501
        if 'subscription_id' in params:
            query_params.append(('subscription_id[]', params['subscription_id']))  # noqa: E501
            collection_formats['subscription_id[]'] = 'multi'  # noqa: E501
        if 'organizations' in params:
            query_params.append(('organizations', params['organizations']))  # noqa: E501
            collection_formats['organizations'] = 'multi'  # noqa: E501
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'records' in params:
            query_params.append(('records', params['records']))  # noqa: E501
        if 'order_by' in params:
            query_params.append(('order_by', params['order_by']))  # noqa: E501
        if 'order' in params:
            query_params.append(('order', params['order']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/contracts', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponseDefault20',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_contract_by_id(self, contract, **kwargs):  # noqa: E501
        """get_contract_by_id  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_contract_by_id(contract, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str contract: (required)
        :param list[str] organizations:
        :return: InlineResponseDefault19
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_contract_by_id_with_http_info(contract, **kwargs)  # noqa: E501
        else:
            (data) = self.get_contract_by_id_with_http_info(contract, **kwargs)  # noqa: E501
            return data

    def get_contract_by_id_with_http_info(self, contract, **kwargs):  # noqa: E501
        """get_contract_by_id  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_contract_by_id_with_http_info(contract, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str contract: (required)
        :param list[str] organizations:
        :return: InlineResponseDefault19
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['contract', 'organizations']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_contract_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'contract' is set
        if ('contract' not in params or
                params['contract'] is None):
            raise ValueError("Missing the required parameter `contract` when calling `get_contract_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'contract' in params:
            path_params['contract'] = params['contract']  # noqa: E501

        query_params = []
        if 'organizations' in params:
            query_params.append(('organizations', params['organizations']))  # noqa: E501
            collection_formats['organizations'] = 'multi'  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/contracts/{contract}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponseDefault19',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def start_contract(self, contract, **kwargs):  # noqa: E501
        """start_contract  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.start_contract(contract, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str contract: (required)
        :param StartContractRequest body:
        :return: InlineResponseDefault21
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.start_contract_with_http_info(contract, **kwargs)  # noqa: E501
        else:
            (data) = self.start_contract_with_http_info(contract, **kwargs)  # noqa: E501
            return data

    def start_contract_with_http_info(self, contract, **kwargs):  # noqa: E501
        """start_contract  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.start_contract_with_http_info(contract, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str contract: (required)
        :param StartContractRequest body:
        :return: InlineResponseDefault21
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['contract', 'body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method start_contract" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'contract' is set
        if ('contract' not in params or
                params['contract'] is None):
            raise ValueError("Missing the required parameter `contract` when calling `start_contract`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'contract' in params:
            path_params['contract'] = params['contract']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/contracts/{contract}/start', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponseDefault21',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_contract(self, **kwargs):  # noqa: E501
        """update_contract  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_contract(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param UpdateContractRequest body:
        :return: InlineResponseDefault19
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_contract_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.update_contract_with_http_info(**kwargs)  # noqa: E501
            return data

    def update_contract_with_http_info(self, **kwargs):  # noqa: E501
        """update_contract  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_contract_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param UpdateContractRequest body:
        :return: InlineResponseDefault19
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_contract" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/contracts', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponseDefault19',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def void_contract(self, contract, **kwargs):  # noqa: E501
        """void_contract  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.void_contract(contract, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str contract: (required)
        :param list[str] organizations:
        :return: InlineResponseDefault19
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.void_contract_with_http_info(contract, **kwargs)  # noqa: E501
        else:
            (data) = self.void_contract_with_http_info(contract, **kwargs)  # noqa: E501
            return data

    def void_contract_with_http_info(self, contract, **kwargs):  # noqa: E501
        """void_contract  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.void_contract_with_http_info(contract, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str contract: (required)
        :param list[str] organizations:
        :return: InlineResponseDefault19
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['contract', 'organizations']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method void_contract" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'contract' is set
        if ('contract' not in params or
                params['contract'] is None):
            raise ValueError("Missing the required parameter `contract` when calling `void_contract`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'contract' in params:
            path_params['contract'] = params['contract']  # noqa: E501

        query_params = []
        if 'organizations' in params:
            query_params.append(('organizations', params['organizations']))  # noqa: E501
            collection_formats['organizations'] = 'multi'  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/contracts/{contract}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponseDefault19',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def void_final_contract_period(self, contract, **kwargs):  # noqa: E501
        """void_final_contract_period  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.void_final_contract_period(contract, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str contract: (required)
        :param list[str] organizations:
        :return: InlineResponseDefault19
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.void_final_contract_period_with_http_info(contract, **kwargs)  # noqa: E501
        else:
            (data) = self.void_final_contract_period_with_http_info(contract, **kwargs)  # noqa: E501
            return data

    def void_final_contract_period_with_http_info(self, contract, **kwargs):  # noqa: E501
        """void_final_contract_period  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.void_final_contract_period_with_http_info(contract, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str contract: (required)
        :param list[str] organizations:
        :return: InlineResponseDefault19
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['contract', 'organizations']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method void_final_contract_period" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'contract' is set
        if ('contract' not in params or
                params['contract'] is None):
            raise ValueError("Missing the required parameter `contract` when calling `void_final_contract_period`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'contract' in params:
            path_params['contract'] = params['contract']  # noqa: E501

        query_params = []
        if 'organizations' in params:
            query_params.append(('organizations', params['organizations']))  # noqa: E501
            collection_formats['organizations'] = 'multi'  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['bearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/contracts/{contract}/period', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponseDefault19',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
